<div class="container">
  <%= react_component('HabitBox', @habit_data, prerender: true) %>
  <%= react_component('DailyBox', @daily_data, prerender: true) %>
  <%= react_component('TodoBox', @todo_data, prerender: true) %>
</div>
